{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Veridical
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131203

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Forgot Password</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="{% static 'default.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'fonts.css'%}" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="/" accesskey="1" title="">Homepage</a></li>
				<li><a href="#" accesskey="2" title="">Our Clients</a></li>
				<li><a href="#" accesskey="3" title="">About Us</a></li>

				<li><a href="#" accesskey="5" title="">Contact Us</a></li>


			</ul>
		</div>
    </div>
</div>
<div style="alignment: center">{{ form.message }}</div>
<div id="wrapper1">
	<div id="welcome" class="container">

		<div class="title">
            <form method="post" action="">
                {% csrf_token %}

                <div>
                    {{ form.email.label}}
                    {{ form.email }}

                    <br>
                <input type="submit" name="SendPasswordLink">
                    <br>
                </div>
            </form>
            <a href="">Forgot Password?</a>
        </div>
    </div>
</div>
</body>
</html>